:root {
  --color-accent: #ff3400;
  --color-body: #222222;
  --color-headings: #0E185F;
  --color-primary: #1300ed;
  --color-secondary: #00d9ff;
  --color-subHeadings: #030D16;
}

 @font-face {
   src: url(/Ñircular-font/Circular/CircularStd-Book.otf);
   font-family: circular-medium;
}
 
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}

html, body {overflow-x: hidden !important;width: 100vw !important;}

.container {
  margin: 0 1.6rem; 
}

/* Typography */
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-headings);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "\2192";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* List  */
 
 
.social-name a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.social-name a:hover::after {
  width: 100%;
}

/* Button */
.btn {
  background: var(--color-primary);
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; 
  padding: 1rem 2rem;
  white-space: nowrap; 
}
.btn:hover { 
  text-decoration: underline;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn--secondary {
  color: var(--color-headings);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; 
  font-weight: 500;
  text-decoration: underline;
  white-space: nowrap;
}

.btn--secondary:hover {
  color: #07005c;
  text-decoration: none;
}
 

/* Grid  */
.grid {
  display: grid;
  grid-gap: 6rem;
}

.personal__detail-block {
  text-align: left !important;  
  color: var(--color-body);
  font-family: circular-light; 
  text-align: center;
}


.astronaut-img {
  display: none;
}

.grid--1x3 {
  width: 100%;
}
 
 

@media screen and (min-width: 768px) {

  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
    justify-self: end;
  }
  .personal__detail-block {
    text-align: left !important; 
  }
  .experience {
    margin-bottom: 10rem;
  }
   
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .astronaut-img {
    display: flex;
    margin: 0 auto;
    width: 150px; 
  }
  
  .grid--block {
    margin: 0 3rem;
  }
  .experience-block {
    margin-bottom: 16rem;
  }
}



.block__title {
  color: var(--color-subHeadings);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.block__description {
  font-family: circular-medium;
  margin: 0.8rem 0;
  font-size: 1.8rem;
}

.block__period {
  color: var(--color-primary);
  font-family: circular-medium;
  font-size: 1.6rem;
  background: #eee;
  width:  max-content;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.section-title {
  color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
}

.my-img {
 width: 85%;
}

.gif {
  display: none;
  width: 24px;
  margin-right: 1rem;
}
 
.about__description {
  align-self: center;
  text-align: center; 
}

.about__title {
  color: var(--color-headings);
  font-family: 'Poppins', sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 0;
}

.about__detail {
  font-family: circular-medium;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 2rem 0 4rem 0;
}

.about-section {
  margin : 10rem 0; 
}

.about-img  {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .gif {
    display: inline;
  }
  .about__title {
    font-size: 5.8rem;
  }
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-section {
    margin: 8rem 0 15rem 0;
}
  .about__description {
    text-align: left !important;
    position: relative;
    text-align: center;
  }
  .about__detail {
    line-height: 3.5rem;
    margin: 2rem 0 3rem 0;
  }
  .my-img { 
    width: 85%;  
  }

  .about-img {
    margin: 0;
  }
   
  .section-title {
    font-size: 3.2rem;
    text-align: left;
  }
  .block__title {
    font-size: 2rem;
  }
  .block__description { 
    line-height: 3rem;
  }
  .about-centered {
    left: 50%;
    position: absolute;
    text-align: left !important;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/* Contact Section  */
.contact-sectionx1 {
  margin: 16rem 0 10rem 0;
}

.contact-sectionx2 {
  margin: 16rem 0 10rem 0;
}


.centered {
  color: var(--color-body);
  font-family: 'Poppins', sans-serif;
  
  text-align: center;
   
}

.bold-text {
  font-size: 3rem;
  line-height: 6rem; 
  font-weight: 600;
}

 

.email {
  text-decoration: solid underline 2px;
}

.contact__labels {
  display: none;   
  font-family: circular-medium;
}

.contact__icons {
  display: flex; justify-content: space-around;
  margin: 8rem 0 3rem 0;
}

.hilight-text {
  font-size: 2rem; 
  color: var(--color-primary);
}

 

@media screen and (min-width: 768px) {
  
  .centered {
    font-size:2.4rem; 
    line-height: 6rem;    
  }
}

@media screen and (min-width: 1024px) {
  
  .hilight-text {
      font-size: 2rem;
      color: #21212198;
  }
  .contact__labels {
    display: flex;
    align-items: center;
    font-size: 1.8rem; 
  }

  .social-name {
    margin-right: 5rem; 
  }
  


  .social-name > a{
  color: var(--color-body); 
  }
  .bold-text {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    
  }
  .centered  {
    padding-top: 5rem; 
    font-size: 2.4rem;
    line-height: 8rem;
    text-align: left;
    font-weight: 600;
    margin: 0;
  }
  .contact__icons {
    display: none;
  }
}

.contact__icons > div a img {
  height: 32px;
  width: 32px;
}
.copyright__section {
  background: #d1e4ff90;
  padding: 2rem 0;
}

.copyright {
  color: var(--color-body); 
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem; 
  text-align: center;
  margin: 0%;
}

.separator {
  display: none;
}
 

.section-divider {
  background-color: #eee !important;
  margin: 4.8rem 0;  
}

@media screen and (min-width: 1024px) {
 

  .copyright {
    font-size: 1.3rem; 
    text-align: left;
  }
  .contact__icons {
    justify-content: center;
  }
  .middle--icon {
    margin: 0 15rem;
  }
  .separator {
    display: flex;
  }
  .copyright__section {
    background: none; 
    margin: 0 9rem;
  }
}
/* Hero area  */
.welcome {
  margin : 12rem 0 10rem 0;
  /* ok  */
}
 
.welcome__deco-img {
 width: 100%;
}

.welcome__section { 
  text-align: center;
  /* ok  */
}
 
 .welcome__heading { 
  color: var(--color-headings);
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem; 
  font-weight: 600;
  line-height: 6rem;
  margin: 0;
  /* ok  */
} 
 
.welcome__caption {
  font-family: circular-medium;
  font-size: 2rem; 
  margin: 3.2rem 0;
  /* ok  */
}

.btn--welcome {
  align-items: center;
  display: flex;
  justify-content: center;
}

.centered-btn  {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .welcome {
    margin: 10rem 0 15rem 0 !important;
  }
  .welcome__deco-img {
    width: 100%;
  }
   .welcome__heading {
    font-size: 5.8rem;
    text-align: left;
    line-height: 9rem;
  } 
   
  .welcome__caption { 
    margin: 1rem 0 4rem 0;
    text-align: left;
  }
  .centered-btn  {
    display: flex;
    justify-content: start;
  }
  .container {
    margin: 0 9rem;
  }
  .welcome {
    margin-top: 7.5rem;
  }
  .welcome__section {
    align-self: center;
  }
}

/* Portfolio  */
.card-1 {
  background: #FDEFEF;
  cursor: pointer;
  padding: 2rem 2rem;
  border-radius: 4px;
}
 
.card-2 {
  background: #EFFFFD;  
  cursor: pointer;
  padding: 2rem 2rem; 
}

.btn-centered {
  text-align: center;
}

.card__title {
  color: var(--color-headings);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
 
.card__description {
  color: var(--color-body);
  font-family: circular-medium;
  font-size: 1.8rem;
  margin: 1rem 0 1.5rem 0;
}
 
.card__img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card__img img {
  width: 50%;
}

.arrow {
  width: 12px;
}

.horizontal-card {
  border: 2px solid var(--color-headings);
  cursor: pointer;
  margin: 3.2rem 0;
  padding: 2rem;
  border-radius: 4px;
}

.horizontal-card:hover {
  background: #caf58d5b; 
}

.horizontal-img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .card__description { 
    margin: 1.5rem 0;
  }
  .card__title {
    font-size: 2.8rem;
  }
  .card-1 {
    width: 600px;
  }
  .card-2 {
    margin-left: auto;
    width: 600px;
  }
  .grid--1x1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .horizontal-middle {
    align-self: center;
  }
  .horizontal-card {
    margin: 6rem 10rem 10rem 10rem;
  }

  .card__img img {
    width: 40%;
  }

}
 
/* Navigation  */
.web-nav {
  display: none;
}

 
 .logo-mobile {
  color:var(--color-primary);
  line-height: 8rem;
  font-size: 3.2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.openbtn {
  line-height: 8rem;
  margin-right: 1rem;
  font-size: 3.2rem;
  color: var(--color-headings);
}

li.nav-item > a {
  color: var(--color-headings);
}

li.nav-item:hover {
  text-decoration: underline;
  transition: .5s;
}

 .main-nav {
   float: right;
   display: flex;
   line-height: 8rem;
  font-family: 'Poppins', sans-serif;
 }
     

  /* Navigation Mobile View  */
  .mobile-items {
    font-family: 'Poppins', sans-serif;
    margin: 5.2rem 0;
    font-size: 1.8rem;
    color: #fff !important;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a { 
    text-decoration: none; 
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (min-width: 500px) {
    .openbtn {
      display: none;
    }
    .web-nav {
      display: contents;
    }
 
    .nav-item {
      font-size: 1.6rem;
      margin-right: 2rem;
    }
    
  }


  @media screen and (min-width: 768px) {
    
    a.logo {
      font-size: 4rem;
      font-weight: 600;
      line-height: 8rem;
      color: var(--color-primary);
      font-family: 'Poppins', sans-serif;
    }
    .web-nav {
      display: contents;
    }
    .nav-item {
      margin-right: 3.6rem !important;
      font-size: 1.6rem;
    }
    .logo-mobile {
      display: none;
    }
  }
  @media screen and (min-width: 1024px) {
    .nav-item {
      margin-right: 5.6rem !important;
       
    }
  }
  @media screen and (min-width: 1440px) {
    .nav-item {
      margin-right: 8rem !important;
       
    }
  }

  @media screen and (max-width: 768px) {
    .logo  {
      display: none;
    }
  }
footer {
  display: none;
}


/* Quote  */

.quote-web {
  display: none;
  background: #39d0489e; 
  padding: 4rem 2rem;
  grid-gap: 2rem;
}

.quote__image img{
  width: 100%;
}

.quote__image-mobile {
  display: flex;
  justify-content: center;
}

.quote__image-mobile img{
  width:50%;
  margin : 3rem 0 5rem 0;
}

.quote__description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-headings);
}

 
  .quote__description-mobile {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-headings);
    text-align: center;
  }
 

@media screen and (min-width: 768px) {
  .quote-web {
    display: grid;
    grid-template-columns: auto 35%;
    padding: 6rem 9rem;
  }
  .quote-mobile {
    display: none;
  }
  .quote__block {
    align-self: center;
  }
  .quote__description  {
    font-size: 3.2rem;
    line-height: 6rem;
    font-weight: 600;
  }

  .quote__image {
    align-self: center;
  }
}



/* Move to top  */
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }
  
  #scrollToTopBtn {
    background-color: rgb(15, 2, 2);
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    width: 48px;
     
  }
  #scrollToTopBtn:hover {
    background-color: #5a5e5c;
    transition: background-color 0.3s;
  }
 
}

/* Active Tab  */
.active > a{
  color: var(--color-primary) !important;
  text-decoration: underline;
}

.mobile-items.active {
  color: var(--color-primary) !important;
  text-decoration: underline;
}